<app-header></app-header>
<section class="py-5">
  <div class="container-fluid pt-5 lr-space jobtWrapper">
      <div class="row mb-4">
          <div class="col ">
              <h2 class="commonHeading">Booking</h2>

          </div>
      </div>
      <div class="row mx-0">
          <div class="col-12">
              <div class="row">
                  <div class="col-12 col-sm-12 py-3 col-md-9 col-lg-9 position-relative ongoing ">
                      <div class="row">
                          <div class="col-12 col-sm-12 col-md-4 col-lg-4 pl-0 ">
                          <img src="../../assets/images/chairs.png" class="img-fluid" alt="">
                          </div>
                          <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                              <strong>Recently Booked</strong>
                              <h4 class="font-Barlow-bold py-3">Large Mezzanine Room<br> & Reception Area</h4>
                              <a class="btn bg-pink saveBtn border-radi" href="#" role="button">$500</a>
                                <a class="btn bg-none saveBtn border-radi border" href="#" role="button">CANCEL BOOKING</a>
                          </div>


                      </div>
                  </div>
              </div>
              <div class="row ">
                  <div class="col-12 col-sm-12 py-3 px-0 col-md-9 col-lg-9 position-relative   ">
                      <form class="row">

                          <div class="col-12">
                              <h6 class="font-Barlow-bold pl-2">All</h6>
                          </div>

                          <div class="form-group col-4">

                              <select id="selectDay" class="form-control">
                                  <option>Choose Month</option>
                              </select>
                          </div>
                          <div class="form-group col-4">

                              <select id="selectDay" class="form-control">
                                  <option>Choose Year</option>
                              </select>
                          </div>
                      </form>
                  </div>
              </div>
          </div>




      </div>
      <div class="row  ongoing">

          <div class="col-12 ">
              <div class="row mx-0">
                  <div class="col-12 pl-0">
                      <div class="table-responsive ">
                          <table>
                              <tr>
                                  <td>
                                      <strong>Date</strong>
                                      <p>WED 24TH MARCH</p>
                                  </td>
                                  <td>
                                      <strong>Job Title</strong>
                                      <p>CAR REPAIR + SERVICE</p>
                                  </td>
                                  <td>
                                      <strong>Wage</strong>
                                      <p>$150</p>
                                  </td>
                                  <td>
                                      <strong>Status</strong>
                                      <p>Ongoing</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Date</strong>
                                      <p>WED 24TH MARCH</p>
                                  </td>
                                  <td>
                                      <strong>Job Title</strong>
                                      <p>CAR REPAIR + SERVICE</p>
                                  </td>
                                  <td>
                                      <strong>Wage</strong>
                                      <p>$150</p>
                                  </td>
                                  <td>
                                      <strong>Status</strong>
                                      <p>Ongoing</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Date</strong>
                                      <p>WED 24TH MARCH</p>
                                  </td>
                                  <td>
                                      <strong>Job Title</strong>
                                      <p>CAR REPAIR + SERVICE</p>
                                  </td>
                                  <td>
                                      <strong>Wage</strong>
                                      <p>$150</p>
                                  </td>
                                  <td>
                                      <strong>Status</strong>
                                      <p>Ongoing</p>
                                  </td>
                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
          </div>



      </div>
  </div>

</section>