.jobtWrapper{
    .ongoing{
        p{
            font-size: 14px;
        }
        table{
            tr{
                border:1px solid #ced4da;
            }
            td{
                padding: 17px;
                width: 300px;
            }
        }
    }
}