<app-header></app-header>
<div class="container-fluid pt-5 lr-space formWraper">

  <div class="row h-100 ">
      <div class="col-sm-7 col-md-7 border">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 justify-content-start">
                  <form class=" p-4 row">
                      <div class="col-12">
                          <div class="border-bottom mb-4">
                              <h1 class="font-Barlow-bold">Register</h1>
                          <p class="font-Barlow-midium">Or<span class="color" [routerLink]="['/login']"> Sign in to your existing account</span></p>
                          </div>
                      </div>
                      <div class="form-group col-6">
                          <label class="font-Barlow-reg">First Name</label>
                          <input type="text" class="form-control" name="firstname"  [(ngModel)]="user.firstName" placeholder="First Name">
                      </div>
                      <div class="form-group col-6">
                          <label class="font-Barlow-reg">Last Name</label>
                          <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastName" placeholder="Last Name">
                      </div>
                      <div class="form-group col-12">
                          <label class="font-Barlow-reg">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="name@example.com">
                      </div>
                      <div class="form-group col-12">
                            <label class="font-Barlow-reg">Set Password</label>
                          <div class="input-group">
                               
                             <input [type]="show ? 'text' : 'password'" class="form-control border-right-0" name="password" [ngModel] ="user.password" placeholder="Password">
                              <div class="input-group-append">
                                  <span (click)="show=!show" class="input-group-text  fa  fa-eye field-icon bg-none border-top border-right border-bottom "></span>

                              </div>
                          </div>
                    
                          
                      </div>
                      <div class="form-group col-12">
                            <label class="font-Barlow-reg">Confirm Password</label>
                          <div class="input-group">
                               
                             <input [type]="confirmShow ? 'text' : 'password'" class="form-control border-right-0" name="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="Password">
                              <div class="input-group-append">
                                  <span (click)="confirmShow=!confirmShow" class="input-group-text  fa  fa-eye field-icon bg-none border-top border-right border-bottom "></span>

                              </div>
                          </div>
                    
                          
                      </div>
                      <div class="col-12 mt-3">
                          <a class="btn saveBtn mb-3 px-2 mb-lg-0 bg-none border-dark border font-Mono-semi" (click)="submit()" role="button">SIGN UP button</a>
                          <!-- <a class="btn saveBtn bg-none border-dark border font-Mono-semi px-3" href="#" role="button"><i class="fa fa-google"> </i> SIGN UP WITH GOOGLE</a> -->
                      </div>


                  </form>
              </div>
          </div>
      </div>
      <div class="col-sm-5 col-md-5 position-relative">
          <div class="position-absolute caruselWraper">
              <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="../assets/images/Intersection%201.png" class="img-fluid" alt="...">
                          <div class="carousel-caption">
                              <h5>Create exciting
                                  new experiences</h5>

                          </div>
                      </div>
                      <div class="carousel-item ">
                          <img src="../assets/images/Intersection%201.png" class="img-fluid" alt="...">
                          <div class="carousel-caption">
                              <h5>List your 
Spaces and Services.</h5>
                          </div>
                      </div>

                  </div>


              </div>
          </div>

      </div>
  </div>
</div>